.c-wave {
    position: absolute;
    width: 200%;
    bottom: 100%;

}

.c-wave-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: $alpha-color;

    will-change: transform;

    transition: 9000ms ease-in-out transform; // 1000 /60 = 16,66

    transform: translateY(50%);
    z-index: 20;
}

.c-wave--front {
    right: 0;
    fill: $alpha-color;

    animation: 1.6s wave-back linear infinite;
    margin-bottom: -1px;
}

.c-wave--back {
    left: 0;
    fill: darken($alpha-color, 20%);
    animation: 0.9s wave-front linear infinite;
}